.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.QR-Scanner {
  background-color: white;
}

.App-title {
  height: 80px;
  font-size: 3rem;
  color: white;
  background-color: #212b0e;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

.details {
  margin-top: 20px;
}

.tableContainer {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.datetime {
  background: #fcfff7;
  vertical-align: top;
  font-size: 20px;
}
.vc-header{
    text-align: left;
    font-size: 25px;
    background: #212b0e;
    color: white;
}
.styled-table2 {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  
}

.credential-key {
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  background: #cfe0b4;
}

.credential-value {
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  background: #f6fbee;
}

.styled-table2 thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table2 th,
.styled-table2 td {
  padding: 10px 10px;
}


.verifiedCredentials{
  font-size: 3rem;
  background-color: #ffe656;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
